<div class="it-hero-wrapper it-dark it-overlay it-bottom-overlapping-content">
  <div class="img-responsive-wrapper">
    <div class="img-responsive">
      <div class="img-wrapper"><img src="https://www.units.it/sites/default/files/styles/colorbox_image/public/media/immagini/notizie/edificio_a_units_sterle_img.jpg?itok=7CKUhPfQ" title="img title" alt="imagealt"></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-hero-text-wrapper bg-dark">
          <h1 class="no_toc">{{ page.title }}</h1>
          <p class="d-none d-lg-block">{{ page.description }}</p>
          <div class="it-btn-container"><a class="btn btn-sm btn-secondary" href="/chi-siamo/">Scopri chi siamo</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card-wrapper card-space">
        <div class="card card-bg">
          <div class="card-body">
            <h5 class="card-title">Motore di ricerca </h5>
            <p>About</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
