---
layout: default
---

<h2>Dati Comuni:</h2>
<ul>
  {% for comune in site.data.comuni %}
    <li>{{ comune.nome }} (ID: {{ comune.id }})</li>
  {% endfor %}
</ul>
<div class="container">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Comune</th>
      <th scope="col">Link Pagina</th>
    </tr>
  </thead>
  <tbody>
    {% for comune in site.data.comuni %}
    <tr>
      <th scope="row">{{ comune.id }}</th>
      <td>{{ comune.nome }}</td>
      <td><a href="{{ comune.link }}">Vai alla pagina di competenza</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
